<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Instrument Store</title>
</head>
<body>
    <h1>Bem-Vindo(a) a Virtual Instrument Store!!</h1>
    <style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f2f5;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }
</style>
       
        <form action="/adicionar-clientes" method="GET">
        <button>Adicionar Cliente</button>
    </form>

       <form action="/adicionar-produtos" methods='GET'>
       <button>Adicionar Produto</button>
    </form>

       <form action="/front/produtos" methods='GET'>
        <button>Produtos</button>
    </form>

       <form action="/front/clientes" methods='GET'>
       <button>Clientes</button>
    </form>
</body>
</html>